.custom-navbar{
    background: #010000;
}

h1,h2,h3,h4,h5,h6 {
    font-variant: small-caps;
}

.nav-link{
    color: white !important;
}
.navbar-brand{
    margin-right: 4em !important;
}

nav{
    font-size: 20px;
    font-variant: small-caps;
}

.submit-custom{
    background: #01C5BF;
}

.text-help{
    color: rgb(219, 47, 47);
}

form{
    width: 100%;
    padding: 4em 5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 3em;
    background: #010000;
    border-radius: 5px;
    color: white;
}
.danger{
    border: 2px solid red !important;
}
button{
    color: white;
    padding: 2em 4em;
    margin-top: 30px !important;
    font-variant: small-caps;
}

.registerResult{
    padding: 0.5em 2em;
    background: rgb(216, 54, 42);
    border: 2px solid red;
    border-radius: 1px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.custom-tutorials {
    margin-top: 100px;
    margin-bottom: 100px;
}


.custom-tutorials img {
    width: 100%;
    height: auto;
}

.tutorial-overview {
    border-top: 1px solid #010000;
    padding: 3em 2em 10em 2em;
}

.list-group-item {
    padding: 0 !important;
}

#tlo {
    width: 100%;
    z-index: -1;
    top: -10%;
    position: absolute;
    height: auto;
}

@media screen and (max-width: 700px){
    #tlo {
        display: none;
    }
    .custom-home {
        width: 100% !important;
        left: 0 !important;
    }
}

.content-wrapper {
    width: 100% !important;
    position: relative;
    z-index: -2;
    background-color: #01C5BF;
    padding-bottom: 5em;
    padding-top: 20%;
}

.col-lg-6 {
    margin-top: 1em;
    margin-bottom: 5em;
}

.custom-home {
    background-color: white;
    width:80%;
    top: 20%;
    left: 10%;
    z-index: 2;
    padding: 0.5em 3em 3em 3em;
    max-width: 1500px;
    position: relative;
    border-radius: 4px;
}
.custom-home h3 {
    text-align: left;
    border-bottom: 1px solid #010000;
    padding-bottom: 3px;
    margin-bottom: 30px;
    
}

.custom-tutorials li {
    margin-top: 100px;
    border-radius: 5px;
}

#title {
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 2px solid #010000;
    padding-bottom: 12px;
    margin-bottom: 2em;
    margin-top: 30px;
}

.custom-home img{
    width: 100%;
    height: auto;
    
}

.homek {
    padding: 1em 1em;
    font-size: 15px;
}