.custom-navbar{
    background: #505763;
}
.nav-link{
    color: white !important;
}
.navbar-brand{
    margin-right: 4em !important;
}

nav{
    font-size: 20px;
    font-variant: small-caps;
}

.submit-custom{
    background: #558ae0;
}

.text-help{
    color: red;
}

form{
    width: 80%;
    padding: 2em 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 3em;
}
.danger{
    border: 2px solid red !important;
}